@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Montserrat, sans-serif;
  background-color: #dcdbd2;
}
input {
  border-radius: 20px;
  height: 30px;
  width: 90%;
  border: none;
  margin: 0 auto;
}
button {
  background-color: #029588;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px;
}
i {
  font-size: 1.6em;
  color: #b1b1b1;
  margin: 0 10px;
}
.top-background {
  width: 100%;
  height: 120px;
  background-color: #029588;
}
/* container web app */
.container {
  width: 90%;
  height: 94vh;
  position: absolute;
  top: 3vh;
  left: 5%;
  /* debug */
  /* background-color: coral; */
}
.banner {
  width: 100%;
  height: 70px;
  background-color: #eaeaea;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* contatti */
.contacts {
  width: 30%;
  height: 100%;
  float: left;
  border-right: 1px solid #ccc;
  /* debug */
  /* background-color: pink; */
}
.user-avatar {
  height: 50px;
  display: block;
}
.notifications {
  background-color: #9ed9f8;
  width: 100%;
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.notifications i {
  color: #9ed9f8;
  padding: 10px;
  background-color: #fff;
  border-radius: 50%;
}
.notifications-title {
  width: 90%;
}
.notifications .title {
  font-size: 20px;
  font-weight: bold;
}
.notifications .subtitle a {
  color: #577383;
}
.search-bar {
  background-color: #fafafa;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts-list {
  background-color: #fff;
  width: 100%;
  height: calc(100% - 180px);
  overflow-y: auto;
}
.contact {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #e9ebeb;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.contact:hover {
  cursor: pointer;
}
.contact-name {
  flex-basis: 70%;
}
.contact.active {
  background-color: #e9ebeb;
}
.contact .title {
  font-size: 20px;
  font-weight: bold;
}
.contact .subtitle {
  color: #b7b9bb;
}

/* chat */
.chat {
  width: 70%;
  height: 100%;
  margin-left: 30%;
  /* debug */
  /* background-color: green; */
}
.chat .banner .contact {
  width: 400px;
}
.chat-thread {
  width: 100%;
  height: calc(100% - 120px);
  background-color: #e5ddd4;
  background-image: url('../img/chat-background.png');
  padding: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  overflow-y: auto;
}
.box-message {
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  /* display: none; */
}
.box-message.user {
  background-color: #d5f9ba;
}
.box-message.interlocutor {
  background-color: #fff;
  align-self: flex-start;
}
.input-message {
  width: 100%;
  height: 50px;
  background-color: #e5ddd4;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
